{% extends "main.html" %}
{% load crispy_forms_tags%}
{% block contenido %}
    <div class="row justify-content-center">
    <div class="col-6">
    <div class="card">
    <div class="card-body">
    <h2>login</h2>
    <form action="" method="POST" novalidate>
        {% csrf_token %}
        {{form|crispy}}
    <input type="submit" class="btn btn-primary" value="Iniciar Sesion">
    <a href="{% url 'password_reset'%}" class="btn btn-link">Olvide Mi Contraseña</a>
    </form>
    </div>
    </div>
    </div>
    </div>
{% endblock contenido %}