{% extends "base.html" %}
        {% block title %}
        Megafly   
        {% endblock title %}
        {% block contenido %}
        <h1>BIENVENIDO</h1>
        <div class="container" style="padding-left:20px;">
                <div class="row">
                        <div class="col-3 text-center">
                        <div class="card text-white bg-success" style="max-width: 12rem;">
                        <div class="card-body">
                        <h4 class="card-title">156</h4>
                        <p class="card-text">Usuarios Registrados</p>
                        </div>
                        </div>
                        </div>
                        <div class="col-3 text-center">
                        <div class="card text-white bg-primary" style="max-width: 12rem;">
                        <div class="card-body">
                        <h4 class="card-title">156</h4>
                        <p class="card-text">Usuarios Registrados</p>
                        </div>
                        </div>
                        </div>
                        <div class="col-3 text-center">
                        <div class="card text-white bg-danger" style="max-width: 12rem;">
                        <div class="card-body">
                        <h4 class="card-title">156</h4>
                        <p class="card-text">Usuarios Registrados</p>
                        </div>
                        </div>
                        </div>
                        <div class="col-3 text-center">
                        <div class="card text-white bg-warning" style="max-width: 12rem;">
                        <div class="card-body">
                        <h4 class="card-title">156</h4>
                        <p class="card-text">Usuarios Registrados</p>
                        </div>
                        </div>
                        </div>
                </div>
                 
         </div>
        {% endblock contenido %}